$icomoon-font-path: '../fonts' !default;
@font-face {
    font-family: 'theater-icn';
    src: url('#{$icomoon-font-path}/theater-icn.ttf?92kt9x') format('truetype'),
        url('#{$icomoon-font-path}/theater-icn.woff?92kt9x') format('woff'),
        url('#{$icomoon-font-path}/theater-icn.svg?92kt9x#theater-icn')
            format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^='icn-'],
[class*=' icn-'] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'theater-icn' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$icn-arrow-down: '\e900';
$icn-arrow-up: '\e901';
$icn-menu: '\e902';
$icn-plus: '\e903';
$icn-minus: '\e906';
$icn-close: '\e904';
$icn-nav-arrow: '\e905';

.icn-arrow-down:before {
    content: $icn-arrow-down;
}

.icn-arrow-up:before {
    content: $icn-arrow-up;
}

.icn-menu:before {
    content: $icn-menu;
}

.icn-plus:before {
    content: $icn-plus;
}
.icn-minus:before {
    content: $icn-minus;
}
.icn-close:before {
    content: $icn-close;
}
.icn-nav-arrow:before {
    content: $icn-nav-arrow;
}
